<div class="step-container container step-payment"  aria-hidden="false" style="">
        <div class="step-two">
            <h2 class="title text-center">THANH TOÁN</h2>
            <form name="form2" novalidate="" style="">
                <div class="step-item">

                    <div class="left-content">
                        <div class="shipping-type box-content">
                           
                            <div class="title ">
                                <h2>Phương thức vận chuyển</h2>
                            </div>
                            <div class="content-box">
                                <div class="alert alert-danger alert-dismissible ng-hide" role="alert" ng-show="!invoice.ShippingTypeID &amp;&amp; shipTypeValidating" aria-hidden="true">
                                    <button type="button" class="close" ng-click="shipTypeValidating=false"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                    Chưa chọn phương thức vận chuyển.
                                </div>
                                <div class="ship-detail">
                                   
                                    <div class="radio"  aria-hidden="false">
                                        <input type="radio" name="chuyen" value="1" checked="checked" ng-model="invoice.ShippingTypeID">Chuyển thường<br>
                                        
                                        <div class="aler-ship ng-hide" ng-show="invoice.ShippingTypeID==1" aria-hidden="true">
                                            <span ng-show="checkWardSpecial()" aria-hidden="true" class="ng-hide">
                                                <i class="fa fa-exclamation-triangle"></i>

                                                      Thời gian giao hàng dự kiến từ 3 – 4 ngày (không tính Thứ Bảy, Chủ nhật)
                                            </span>
                                            <span ng-hide="checkWardSpecial()" aria-hidden="false" class="">
                                                <i class="fa fa-exclamation-triangle"></i>

                                                     Thời gian giao hàng dự kiến từ 5 – 7 ngày (không tính Thứ Bảy, Chủ nhật)
                                            </span>
                                        </div>
                                        
                                    </div>

                                    <div class="radio"  aria-hidden="false">
                                        <input type="radio" name="chuyen" value="2" checked="checked" ng-model="invoice.ShippingTypeID">Chuyển nhanh<br>

                                    </div>
                                    <div class="aler-ship ng-hide" ng-show="invoice.ShippingTypeID==2" aria-hidden="true">
                                        <span ng-show="checkWardSpecial()" aria-hidden="true" class="ng-hide">
                                            <i class="fa fa-exclamation-triangle"></i>
                                            Thời gian giao hàng dự kiến 1 – 2 ngày (không tính thứ bảy, Chủ nhật)

                                        </span>
                                        <span ng-hide="checkWardSpecial()" aria-hidden="false" class="">
                                            <i class="fa fa-exclamation-triangle"></i>
                                            Thời gian giao hàng dự kiến 2 – 4 ngày (không tính thứ bảy, Chủ nhật)
                                        </span>

                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        <div class="clearfix"></div>

                        <div class="payment-type box-content" ng-hide="paymode=='tragop'" aria-hidden="false">
                            <div class="title ">
                                <h2>Phương thức thanh toán</h2>
                            </div>
                            <div class="content-box">
                                <div class="payment-note ng-hide" ng-show="(invoice.ShippingTypeID==1 || invoice.ShippingTypeID==2)" aria-hidden="true">
                                    <span><i class="fa fa-gift"></i> Giảm thêm 2% giá trị đơn hàng khi thanh toán qua Thẻ ATM, Ví điện tử, Chuyển khoản, Thẻ quốc tế (không áp dụng cho Bảng vẽ điện tử) <span ng-show="supInfo.DiscountCode.toUpperCase()=='LOCTET'" aria-hidden="true" class="ng-hide">(Giá giảm đã bao gồm mã ưu đãi)</span>.</span>
                                </div>

                                <div class="alert alert-danger alert-dismissible ng-hide" role="alert" ng-show="(!invoice.PaymentTypeID || invoice.PaymentTypeID==0) &amp;&amp; payTypeValidating" aria-hidden="true">
                                    <button type="button" class="close" ng-click="payTypeValidating=false"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                    Chưa chọn phương thức thanh toán<span ng-show="invoice.ShippingTypeID>0" class="ng-binding ng-hide" aria-hidden="true"></span>.
                                </div>

                                <div class="pay-detail">

                                    <div class="radio">
                                        <input type="radio" name="thanhtoan" ng-model="invoice.PaymentTypeID" value="2" checked="checked">Thẻ ATM đăng ký Internet Banking (miễn phí thanh toán) <br>
                                    </div>

                                    <div style="left: 0px; top: 0px; position: relative;" class="alert alert-danger alert-dismissible ng-hide" role="alert"  aria-hidden="false" ng-show="(invoice.PaymentTypeID ==2 && supInfo.BankID==undefined)">
                                        Vui lòng chọn ngân hàng thanh toán .
                                    </div>

                                    <div class="bank-payment ng-hide" ng-show="(invoice.PaymentTypeID ==2 && supInfo.BankID==undefined)" aria-hidden="false" style="">
                                        <ul id="onepay-bank" class="onepay-bank-list">
                                            <li>
                                                <img alt="VR Bank" bankid="29" src="https://bookbuy.vn/Images/onepay/Bank-Icons-00.jpg?w=65&amp;h=36&amp;mode=crop">
                                            </li>
                                            <li>
                                                <img alt="Vietcom Bank" bankid="1" src="https://bookbuy.vn/Images/onepay/Bank-Icons-01.jpg?w=65&amp;h=36&amp;mode=crop">
                                            </li>
                                            <li>
                                                <img alt="Techcom bank" bankid="2" src="https://bookbuy.vn/Images/onepay/Bank-Icons-22.jpg?w=65&amp;h=36&amp;mode=crop">
                                            </li>
                                            <li>
                                                <img alt="TienPhong Bank" bankid="3" src="https://bookbuy.vn/Images/onepay/Bank-Icons-04.jpg?w=65&amp;h=36&amp;mode=crop">
                                            </li>
                                            <li>
                                                <img alt="Viettin Bank" bankid="4" src="https://bookbuy.vn/Images/onepay/Bank-Icons-16.jpg?w=65&amp;h=36&amp;mode=crop">
                                            </li>
                                            <li>
                                                <img alt="VIB" bankid="5" src="https://bookbuy.vn/Images/onepay/Bank-Icons-15.jpg?w=65&amp;h=36&amp;mode=crop">
                                            </li>
                                            <li>
                                                <img alt="DongA Bank" bankid="6" src="https://bookbuy.vn/Images/onepay/Bank-Icons-08.jpg?w=65&amp;h=36&amp;mode=crop">
                                            </li>
                                            <li>
                                                <img alt="HD Bank" bankid="7" src="https://bookbuy.vn/Images/onepay/Bank-Icons-07.jpg?w=65&amp;h=36&amp;mode=crop">
                                            </li>
                                            <li>
                                                <img alt="MB" bankid="8" src="https://bookbuy.vn/Images/onepay/Bank-Icons-11.jpg?w=65&amp;h=36&amp;mode=crop">
                                            </li>
                                            <li>
                                                <img alt="VietA Bank" bankid="9" src="https://bookbuy.vn/Images/onepay/Bank-Icons-20.jpg?w=65&amp;h=36&amp;mode=crop">
                                            </li>
                                            <li>
                                                <img alt="Maritime Bank" bankid="10" src="https://bookbuy.vn/Images/onepay/Bank-Icons-02.jpg?w=65&amp;h=36&amp;mode=crop">
                                            </li>
                                            <li>
                                                <img alt="Eximbank" bankid="11" src="https://bookbuy.vn/Images/onepay/Bank-Icons-05.jpg?w=65&amp;h=36&amp;mode=crop">
                                            </li>
                                            <li>
                                                <img alt="SHB" bankid="12" src="https://bookbuy.vn/Images/onepay/Bank-Icons-03.jpg?w=65&amp;h=36&amp;mode=crop">
                                            </li>
                                            <li>
                                                <img alt="VP Bank" bankid="14" src="https://bookbuy.vn/Images/onepay/Bank-Icons-14.jpg?w=65&amp;h=36&amp;mode=crop">
                                            </li>
                                            <li>
                                                <img alt="AnBinh Bank" bankid="15" src="https://bookbuy.vn/Images/onepay/Bank-Icons-13.jpg?w=65&amp;h=36&amp;mode=crop">
                                            </li>
                                            <li>
                                                <img alt="SacomBank" bankid="16" src="https://bookbuy.vn/Images/onepay/Bank-Icons-09.jpg?w=65&amp;h=36&amp;mode=crop">
                                            </li>
                                            <li>
                                                <img alt="NamA Bank" bankid="17" src="https://bookbuy.vn/Images/onepay/Bank-Icons-19.jpg?w=65&amp;h=36&amp;mode=crop">
                                            </li>
                                            <li>
                                                <img alt="Ocean Bank" bankid="18" src="https://bookbuy.vn/Images/onepay/Bank-Icons-10.jpg?w=65&amp;h=36&amp;mode=crop">
                                            </li>
                                            <li>
                                                <img alt="BIDV" bankid="19" src="https://bookbuy.vn/Images/onepay/Bank-Icons-18.jpg?w=65&amp;h=36&amp;mode=crop">
                                            </li>
                                            <li>
                                                <img alt="Sea Bank" bankid="20" src="https://bookbuy.vn/Images/onepay/Bank-Icons-06.jpg?w=65&amp;h=36&amp;mode=crop">
                                            </li>
                                            <li>
                                                <img alt="BacA Bank" bankid="22" src="https://bookbuy.vn/Images/onepay/Bank-Icons-17.jpg?w=65&amp;h=36&amp;mode=crop">
                                            </li>
                                            <li>
                                                <img alt="Navibank" bankid="23" src="https://bookbuy.vn/Images/onepay/Bank-Icons-21.jpg?w=65&amp;h=36&amp;mode=crop">
                                            </li>
                                            <li>
                                                <img alt="Agribank" bankid="24" src="https://bookbuy.vn/Images/onepay/Bank-Icons-23.jpg?w=65&amp;h=36&amp;mode=crop">
                                            </li>
                                            <li>
                                                <img alt="Saigonbank" bankid="25" src="https://bookbuy.vn/Images/onepay/Bank-Icons-12.jpg?w=65&amp;h=36&amp;mode=crop">
                                            </li>

                                            <li>
                                                <img alt="GPBank" bankid="34" src="https://bookbuy.vn/Images/onepay/GPBank.jpg?w=65&amp;h=36&amp;mode=crop">
                                            </li>
                                            <li>
                                                <img alt="ACB" bankid="33" src="https://bookbuy.vn/Images/onepay/ACB.jpg?w=65&amp;h=36&amp;mode=crop">
                                            </li>
                                            <li>
                                                <img alt="BaoVietBank" bankid="37" src="https://bookbuy.vn/Images/onepay/BaoVietBank.jpg?w=65&amp;h=36&amp;mode=crop">
                                            </li>
                                            <li>
                                                <img alt="INDOVINA" bankid="43" src="https://bookbuy.vn/Images/onepay/INDOVINA-NAPAS.jpg?w=65&amp;h=36&amp;mode=crop">
                                            </li>
                                            <li>
                                                <img alt="KienLongBank" bankid="38" src="https://bookbuy.vn/Images/onepay/KienLongBank.jpg?w=65&amp;h=36&amp;mode=crop">
                                            </li>
                                            <li>
                                                <img alt="LienVietPostBank" bankid="36" src="https://bookbuy.vn/Images/onepay/LienVietPostBank.jpg?w=65&amp;h=36&amp;mode=crop">
                                            </li>
                                            <li>
                                                <img alt="PGBank" bankid="42" src="https://bookbuy.vn/Images/onepay/PGBank.jpg?w=65&amp;h=36&amp;mode=crop">
                                            </li>
                                            <li>
                                                <img alt="PUBLICBANK" bankid="40" src="https://bookbuy.vn/Images/onepay/PUBLICBANK-NAPAS.jpg?w=65&amp;h=36&amp;mode=crop">
                                            </li>
                                            <li>
                                                <img alt="Saigonbank" bankid="41" src="https://bookbuy.vn/Images/onepay/Saigonbank.jpg?w=65&amp;h=36&amp;mode=crop">
                                            </li>
                                            <li>
                                                <img alt="SHINHAN" bankid="46" src="https://bookbuy.vn/Images/onepay/SHINHAN-NAPAS.jpg?w=65&amp;h=36&amp;mode=crop">
                                            </li>
                                            <li>
                                                <img alt="UOB" bankid="45" src="https://bookbuy.vn/Images/onepay/UOB.jpg?w=65&amp;h=36&amp;mode=crop">
                                            </li>
                                            <li>
                                                <img alt="VietnamRussiaBank" bankid="39" src="https://bookbuy.vn/Images/onepay/VietnamRussiaBank.jpg?w=65&amp;h=36&amp;mode=crop">
                                            </li>
                                            <li>
                                                <img alt="Wooribank" bankid="44" src="https://bookbuy.vn/Images/onepay/Wooribank.jpg?w=65&amp;h=36&amp;mode=crop">
                                            </li>

                                        </ul>

                                    </div>
                                    <div class="popup-item" id="pop-item2" ng-show="invoice.PaymentTypeID==2" aria-hidden="false" style="">
                                        <div class="l">
                                            <p>
                                                Thanh toán bằng thẻ ATM do các ngân hàng phát hành <b style="color: #0093ff;">được <span ng-show="(invoice.ShippingTypeID==1 || invoice.ShippingTypeID==2)" aria-hidden="true" class="ng-hide">giảm thêm 2% giá trị đơn hàng <span ng-show="supInfo.DiscountCode.toUpperCase()=='LOCTET'" aria-hidden="true" class="ng-hide">(Giá giảm đã bao gồm mã ưu đãi)</span> +</span> ưu tiên xử lý trước</b>  (miễn phí phí thanh toán qua thẻ). Sau khi nhận được tiền chuyển khoản, BookBuy sẽ gửi hàng đến Quý khách.
                                                <br>
                                                <b>Lưu ý:</b> <b style="color: #0093ff;">Thẻ ATM hoặc tài khoản của bạn phải đăng ký dịch vụ Internet Banking với ngân hàng </b> mới sử dụng được hình thức thanh toán này

                                            </p>
                                        </div>
                                        <div class="action" aria-hidden="true">
                                            <a ng-click="removeItem('#pop-item2')">
                                                <i class="fa fa-times-circle"></i>
                                            </a>
                                        </div>
                                    </div>


                                    <div class="radio">
                                        <input type="radio" name="thanhtoan" value="0" ng-model="invoice.PaymentTypeID" checked="checked"> Ví điện tử <br>
                                    </div>
                                    <div class="online-payment ng-hide" ng-show="invoice.PaymentTypeID==0" aria-hidden="true">
                                        <div class="radio">
                                            <input type="radio" name="thanhtoan1"  checked="checked"> Paypal <br>
                                        </div>

                                        <div class="radio">
                                            <input type="radio" name="thanhtoan1"  checked="checked"> Ngân lượng <br>

                                        </div>
                                        <div class="radio">
                                            <input type="radio" name="thanhtoan1"  checked="checked"> Bảo kim <br>
                                        </div>
                                    </div>
                                    <div class="popup-item ng-hide" id="pop-onlinepayment" ng-show="invoice.PaymentTypeID==0" aria-hidden="true">
                                        <div class="l">
                                            <p>
                                                Bạn có thể chọn một trong các cổng thanh toán trực tuyến Paypal, Ngân Lượng hay Bảo Kim để thực hiện thanh toán. Đặc biệt: <b style="color: #0093ff"> <span ng-show="(invoice.ShippingTypeID==1 || invoice.ShippingTypeID==2)" aria-hidden="true" class="ng-hide">Giảm thêm 2% giá trị đơn hàng <span ng-show="supInfo.DiscountCode.toUpperCase()=='LOCTET'" aria-hidden="true" class="ng-hide">(Giá giảm đã bao gồm mã ưu đãi)</span> +</span> Được ưu tiên xử lý trước</b>. Sau khi Bookbuy nhận được thông báo đã chuyển tiền sẽ gửi hàng đến Quý khách.
                                                <br>
                                                <b>Lưu ý:</b> <b style="color: #0093ff">Bạn cần đăng nhập cổng thanh toán và có số dư trong tài khoản ≥ giá trị đơn hàng.</b>

                                            </p>
                                        </div>
                                        <div class="action" aria-hidden="true">
                                            <a ng-click="removeItem('#pop-onlinepayment')">
                                                <i class="fa fa-times-circle"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="radio">
                                        <input type="radio" name="thanhtoan" ng-model="invoice.PaymentTypeID" value="13" checked="checked">Thẻ quốc tế / Thẻ nội địa ACB, VPBank (Moca) (miễn phí thanh toán) <br>
                                    </div>
                                    <div class="popup-item ng-hide" id="pop-visapayment" ng-show="invoice.PaymentTypeID==13" aria-hidden="true">
                                        <div class="l">
                                            <p>
                                                Sau khi đặt mua thành công, bạn sẽ được chuyển qua trang thanh toán Moca. Được<b style="color: #0093ff"> <span ng-show="(invoice.ShippingTypeID==1 || invoice.ShippingTypeID==2)" aria-hidden="true" class="ng-hide">giảm thêm 2% giá trị đơn hàng <span ng-show="supInfo.DiscountCode.toUpperCase()=='LOCTET'" aria-hidden="true" class="ng-hide">(Giá giảm đã bao gồm mã ưu đãi)</span> +</span> ưu tiên xử lý trước</b> (miễn phí thanh toán qua thẻ). Sau khi Bookbuy nhận được thông báo đã chuyển tiền sẽ gửi hàng đến Quý khách.
                                                <br>
                                                <b>Lưu ý:</b> <b style="color: #0093ff">Khả dụng với các thẻ quốc tế do các ngân hàng có chi nhánh tại Việt Nam phát hành và Số dư trong tài khoản ≥ giá trị đơn hàng.</b>
                                            </p>
                                        </div>
                                        <div class="action" aria-hidden="true">
                                            <a ng-click="removeItem('#pop-visapayment')">
                                                <i class="fa fa-times-circle"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="radio" ng-show="!blockpaylate" aria-hidden="false">
                                        <input type="radio" name="thanhtoan" ng-model="invoice.PaymentTypeID" value="11" checked="checked"> Chuyển khoản ngân hàng<br>
                                        </md-radio-group>

                                        <div class="popup-item ng-hide" id="pop-item11" ng-show="invoice.PaymentTypeID==11" aria-hidden="true">
                                            <div class="l">
                                                <p>
                                                    Sau khi đặt hàng thành công, bạn đến ngân hàng thực hiện chuyển khoản đến một trong các tài khoản sau của Bookbuy: Xem chi tiết <a href="//bookbuy.vn/Help/Index/#payment-bank" target="_blank">tại đây</a>. Vui lòng gửi hình ảnh hóa đơn, chứng từ chuyển khoản đến info@bookbuy.vn để được xử lý nhanh. Bookbuy sẽ gửi hàng đến Quý khách khi nhận được thông báo chuyển tiền.
                                                    <br>
                                                    <b>Đặc biệt:</b> <b style="color: #0093ff;"><span ng-show="(invoice.ShippingTypeID==1 || invoice.ShippingTypeID==2)" aria-hidden="true" class="ng-hide">Giảm thêm 2% giá trị đơn hàng <span ng-show="supInfo.DiscountCode.toUpperCase()=='LOCTET'" aria-hidden="true" class="ng-hide">(Giá giảm đã bao gồm mã ưu đãi)</span> +</span> Được ưu tiên xử lý trước</b>.

                                                </p>
                                            </div>
                                            <div class="action" aria-hidden="true">
                                                <a ng-click="removeItem('#pop-item11')">
                                                    <i class="fa fa-times-circle"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="radio" ng-show="(Country.ID==1 ) &amp;&amp; !((invoice.ShippingTypeID==1) || invoice.ShippingTypeID==2)" aria-hidden="false">
                                       <input type="radio" name="thanhtoan" ng-model="invoice.PaymentTypeID" value="1" checked="checked">Thanh toán tiền mặt khi nhận hàng  (COD) <br>
                                        <div class="aler-payment ng-hide" ng-show="!isShipHome &amp;&amp; !(invoice.ShippingTypeID==0) &amp;&amp; invoice.PaymentTypeID==1" aria-hidden="true" style="">
                                            <span>
                                                <i class="fa fa-exclamation-triangle"></i>
                                                Đơn hàng được phép hủy trong vòng 12h. Hotline 0933 109 009
                                            </span>
                                        </div>
                                        <div class="popup-item ng-hide" id="pop-item1" ng-show="invoice.PaymentTypeID==1" aria-hidden="true" style="">
                                            <div class="l">
                                                <p ng-show="(!isShipHome &amp;&amp; !(invoice.ShippingTypeID==0))" aria-hidden="false" class="">
                                                    Nhân viên bưu điện địa phương sẽ giao hàng đến bạn tại địa chỉ nhận hàng. Bạn vui lòng nghe máy khi có số điện thoại gọi đến. Trong trường hợp bạn đi vắng, xin ủy thác cho người khác nhận hàng và thanh toán tiền thay. Bưu điện sẽ trả hàng về Bookbuy nếu cố gắng giao hàng trong 2 lần nhưng không thành công.
                                                    Phí bưu điện thu hộ (COD): 9.000đ,<b style="color: #0093ff"> mức phí đã được Bookbuy hỗ trợ từ 30 – 50%</b>.
                                                </p>
                                                <p ng-hide="(!isShipHome &amp;&amp; !(invoice.ShippingTypeID==0))" aria-hidden="true" class="ng-hide">
                                                    Nhân viên giao hàng của Bookbuy hoặc Dịch vụ chuyển phát sẽ thu tiền mặt khi giao hàng cho bạn. Trong trường hợp bạn không thể trực tiếp nhận hàng, vui lòng thông báo số tiền thanh toán cho người nhận giúp.

                                                </p>
                                            </div>
                                            <div class="action" aria-hidden="true">
                                                <a ng-click="removeItem('#pop-item1')">
                                                    <i class="fa fa-times-circle"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <button ng-click="doCheckout()" class="btn btn-bb btn-pad1020 do-checkout-desktop" style="padding: 10px 30px;" id="docheckout" aria-hidden="false">Đặt mua  <!-- ngIf: loading --></button>



                    </div>
                    <div class="right-content">

                        <div class="item-block-right">
                            <div class="box-r-block">
                                <p class="box-title">Giao hàng đến</p>
                                <p class="deliver-name ng-binding">{{hoten}}</p>
                                <p class="deliver-address ng-binding">
                                   {{sonha}} - {{quan}} - {{tinh}} - {{quocgia}}
                                </p>
                                <p class="deliver-phone ng-binding">
                                    {{didong}} - {{mailnhan}}
                                </p>
                                <p class="action">
                                    <a class="btn btn-none-bg  btn-pad37" href="#/dathang">Sửa</a>
                                </p>
                            </div>
                        </div>
                        <div class="item-block-right">
                            <div class="box-r-block">
                                <p class="box-title">Đơn hàng ({{obj.totalBooks}} sản phẩm) </p>
                               <div class="break-down-cart" ng-repeat="item in obj.orderBooks" style="">
                                    <p class="l"><strong class="ng-binding">{{item.count}} x </strong><a ng-href="#/sach/{{item.LoaiSach}}/{{item.id}}" target="_blank" href="#/sach/{{item.LoaiSach}}/{{item.id}}">{{item.TenSach}}</a></p>
                                    <p class="r ng-binding">{{item.totalgiasach}}đ</p>
                                    <div class="clearfix"></div>
                                </div>

                                <div class="fee-items">
                                    <div class="total">
                                        <div class="l">
                                            Tiền hàng
                                        </div>
                                        <div class="r ng-binding">
                                            {{obj.totalAmount}}đ
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="ship-fee">
                                        <div class="l">
                                            Phí vận chuyển
                                        </div>
                                        <div class="r ng-binding">
                                            chưa có
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    
                                        <div class="clearfix"></div>
                                    </div>

                                    <div class="total-all">
                                        <div class="l">
                                            Tổng cộng
                                        </div>
                                        <div class="r">
                                            <span aria-hidden="false">
                                                {{obj.totalAmount}}₫
                                            </span>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>

                                    <p class="action">
                                    <a class="btn btn-none-bg  btn-pad37" href="#/cart">
                                        Sửa
                                    </a>
                                </p>
                                </div>
                                
                            </div>
                        </div>


                    </div>

                    

                </div>
            </form>
        </div>








    </div>
