<section id="slider"><!--slider-->
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div id="slider-carousel"class="carousel slide carousel-multi-item" data-ride="carousel" data-interval="5000">
						<ol class="carousel-indicators">
							<li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
							<li data-target="#slider-carousel" data-slide-to="1"></li>
							<li data-target="#slider-carousel" data-slide-to="2"></li>
							<li data-target="#slider-carousel" data-slide-to="3"></li>
						</ol>
						
						<div class="carousel-inner">
							<div class="item active">
								<div class="col-sm-12">
									<img src="images/home/Sach1K.jpg" class="girl img-responsive" alt="" />
								</div>
							</div>
							<div class="item">
								<div class="col-sm-12">
									<img src="images/home/OnCard.jpg" class="girl img-responsive" alt="" />
								</div>
							</div>
							
							<div class="item">
								<div class="col-sm-12">
									<img src="images/home/Junior.jpg" class="girl img-responsive" alt="" />
								</div>
							</div>
							

							<div class="item">
								<div class="col-sm-12">
									<img src="images/home/Sachhayw.jpg" class="girl img-responsive" alt="" />
									
								</div>
							</div>

						</div>
						
						<a href="#slider-carousel" class="left control-carousel hidden-xs" ng-non-bindable data-slide="prev">
							<i class="fa fa-angle-left"></i>
						</a>
						<a href="#slider-carousel" class="right control-carousel hidden-xs" ng-non-bindable data-slide="next">
							<i class="fa fa-angle-right"></i>
						</a>
					</div>
					
				</div>
			</div>
		</div>
	</section><!--/slider-->
					
		<section class="container">
		<div class="container">
			<div class="row">
				<div class="col-sm-3" >
					<div class="left-sidebar">
						<h2>DANH MỤC SẢN PHẨM</h2>
						<div class="category-products" id="accordian"><!--category-productsr-->
							<div class="panel panel-default title-x">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#/sach/Truyện tranh">Truyện tranh</a></h4>
								</div>
							</div>
							<div class="panel panel-default title-x">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="#/sach/Tác phẩm văn học">
											<span class="badge pull-right"><i class="fa fa-plus"></i></span>
											Văn học
										</a>
									</h4>
								</div>

								<div id="vanhoc" class="panel-collapse collapse">
									<div class="panel-body">
										<ul>
											<li><a href="#/sach/Văn học Việt Nam"><span class="badge pull-right"><i class="fa fa-angle-right"></i></span>Văn học Việt Nam </a>
													<ul>
													<li><a href="#/sach/Truyện ngắn">Truyện Ngắn</a></li>
													<li><a href="#/sach/Truyện Dài">Tiểu thuyết, truyện dài</a></li>
													<li><a href="#/sach/Thơ Ca">Thơ ca</a></li>
													<li><a href="#/sach/Tác phẩm kinh điển">Tác phẩm kinh điển</a></li>
													<li><a href="#/sach/Tự truyện, Tiểu sử, Hồi ký, Nhân vật">Tự truyện, tiểu sử, hồi ký</a></li>
												</ul>
											</li>
											<li><a href="#/sach/Văn học nước ngoài">
												<span class="badge pull-right"><i class="fa fa-angle-right"></i></span>
											Văn học Nước Ngoài</a>
												<ul>
													<li><a href="#/sach/Truyện ngắn nước ngoài">Truyện ngắn</a></li>
													<li><a href="#/sach/Truyện dài nước ngoài">Tiểu thuyết, truyện dài</a></li>
													<li><a href="#/sach/Tản văn-Tạp văn">Tản văn-Tạp văn</a></li>
													<li><a href="#/sach/Kinh dị-Giả tưởng-Trinh thám">Kinh dị-Giả tưởng-Trinh thám</a></li>
													<li><a href="#/sach/Phê bình văn học">Phê bình văn học</a></li>
												</ul>
											</li>
										</ul>
									</div>
								</div>
							</div>

							<div class="panel panel-default title-x">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="#/sach/Ngoại Ngữ">
											<span class="badge pull-right"><i class="fa fa-plus"></i></span>
											Ngoại ngữ
										</a>
									</h4>
								</div>
								<div id="ngoaingu" class="panel-collapse collapse">
									<div class="panel-body">
										<ul>
											<li><a href="#/sach/Tiếng Anh">Tiếng Anh</a></li>
											<li><a href="#/sach/Tiếng Pháp">Tiếng Pháp</a></li>
											<li><a href="#/sach/Tiếng Hoa">Tiếng Hoa</a></li>
											<li><a href="#/sach/Tiếng Nhật">Tiếng Nhật</a></li>
											<li><a href="#/sach/Ngoại ngữ khác">Ngoại ngữ khác</a></li>
											
										</ul>
									</div>
								</div>
							</div>
							
							<div class="panel panel-default title-x">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="#/sach/Kỹ năng sống">
											<span class="badge pull-right"><i class="fa fa-plus"></i></span>
											Kỹ năng sống
										</a>
									</h4>
								</div>
								<div id="kynangsong" class="panel-collapse collapse">
									<div class="panel-body">
										<ul>
											<li><a href="#/sach/Sống đẹp">Sống đẹp</a></li>
											<li><a href="#/sach/Kỹ Năng Mềm">Kỹ năng mềm</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="panel panel-default title-x">
								<div class="panel-heading">
								<h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordian" href="#/sach/Sách Teen">
											<span class="badge pull-right"><i class="fa fa-plus"></i></span>
											Sách Teen
										</a></h4>
								</div>
								<div id="sachteen" class="panel-collapse collapse">
									<div class="panel-body">
										<ul>
											<li><a href="#/sach/Sức khỏe-Giới tính">Sức khỏe-Giới tính</a></li>
											<li><a href="#/sach/Văn học teen">Văn học Teen</a></li>
											<li><a href="#/sach/Tâm lý tuổi teen">Tâm lý tuổi teen</a></li>
											<li><a href="#/sach/Du học-Hướng nghiệp">Du học-Hướng nghiệp</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="panel panel-default title-x">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#/sach/Tử vi-Chiêm tinh">Tử Vi-Chiêm Tinh</a></h4>
								</div>
							</div>
							<div class="panel panel-default title-x">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#/sach/Phong Thủy">Phong Thủy</a></h4>
								</div>
							</div>
							
							<div class="panel panel-default title-x">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#/sach/Bách khoa-Tri thức">Bách khoa tri thức</a></h4>
								</div>
							</div>
							<div class="panel panel-default title-x">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="#/sach/Danh nhân-Văn hóa-Du lịch">
											<span class="badge pull-right"><i class="fa fa-plus"></i></span>
											Danh nhân-Văn hóa-Du lịch
										</a>
									</h4>
								</div>
								<div id="danhnhan" class="panel-collapse collapse">
									<div class="panel-body">
										<ul>
											<li><a href="#/sach/Du lịch Việt Nam">Du lịch</a></li>
											<li><a href="#/sach/Danh nhân Việt Nam">Danh nhân</a></li>
											<li><a href="#/sach/Văn hóa-Xã hội">Văn hóa-Xã hội</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="panel panel-default title-x">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="#/sach/Khoa học-Công Nghệ">
											<span class="badge pull-right"><i class="fa fa-plus"></i></span>
											Khoa học-Công nghệ
										</a>
									</h4>
								</div>
								<div id="khoahoc" class="panel-collapse collapse">
									<div class="panel-body">
										<ul>
											<li><a href="#/sach/Khoa học-Tự nhiên">Khoa học</a></li>
											<li><a href="#/sach/Công nghệ-Tin học">Công nghệ</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div><!--/category-products-->
					
						<div class="brands_products"><!--brands_products-->
							<h2>Theo chủ đề</h2>
							<div class="brands-name">
								<ul class="nav nav-pills nav-stacked">
									<li><a href="#/sach/Blockchain & tiền ảo"> <span class="pull-right">(9)</span>Blockchain & Tiền ảo</a></li>
									<li><a href="#/sach/Đam mê xê dịch"> <span class="pull-right">(90)</span>Đam mê xê dịch</a></li>
									<li><a href="#/sach/Dạy con làm giàu"> <span class="pull-right">(27)</span>Dạy con làm giàu</a></li>
									<li><a href="#/sach/Hạt giống tâm hồn"> <span class="pull-right">(60)</span>Hạt giống tâm hồn</a></li>
									<li><a href="#/sach/LightNovel"> <span class="pull-right">(60)</span>Light Novel</a></li>
									<li><a href="#/sach/Giải thưởng sách hay"> <span class="pull-right">(40)</span>Giải thưởng sách hay</a></li>
									
								</ul>
							</div>
						</div><!--/brands_products-->
						
						<div class="author"><!--author-->
							<h2>Tác giả tiêu biểu</h2>
							<div class="author-name">
								<ul class="nav nav-pills nav-stacked">
									<li><a href="#/sach/Tác giả: Nguyễn Ngọc Tư"> <span class="pull-right">(40)</span>Nguyễn Ngọc Tư</a></li>
									<li><a href="#/sach/Tác giả: Nguyễn Nhật Ánh"> <span class="pull-right">(146)</span>Nguyễn Nhật Ánh</a></li>
									<li><a href="#/sach/Tác giả: Nguyễn Đông Thức"> <span class="pull-right">(12)</span>Nguyễn Đông Thức</a></li>
									<li><a href="#/sach/Tác Giả: JK-Rowling"> <span class="pull-right">(24)</span>J.K Rowling</a></li>
									<li><a href="#/sach/Tác giả: Nguyễn Thiên Ngân"> <span class="pull-right">(17)</span>Nguyễn Thiên Ngân</a></li>
									<li><a href="#/sach/Tác giả: Nguyễn Ngọc Thạch"> <span class="pull-right">(29)</span>Nguyễn Ngọc Thạch</a></li>
								</ul>
							</div>
						</div><!--/author-->

						<div class="price-range"><!--price-range-->
							<h2>Theo độ tuổi</h2>
							<div class="price-name">
								<ul class="nav nav-pills nav-stacked">
									<!-- <li><a href="#/sach/Sách 2-3 tuổi">Sách 2-3 tuổi (350)</a></li> -->
									<li><a href="#/sach/Sách 3-6 tuổi">Sách 3-6 tuổi (460)</a></li>
									<li><a href="#/sach/Sách 6-9 tuổi">Sách 6-9 tuổi (520)</a></li>
									<li><a href="#sach/Sách 9-12 tuổi">Sách 9-12 tuổi (545)</a></li>
									<li><a href="#/sach/Sách 12-18 tuổi">Sách 12-18 tuổi (790)</a></li>
									<li><a href="#/sach/Sách trên 18 tuổi">Sách > 18 tuổi (580)</a></li>
								</ul>
							</div>
						</div><!--/price-range-->
					
					</div>
				</div>			
<div class="col-sm-9 padding-right">
					
					<div class="recommended_items"><!--recommended_items-->
						<div class="header">
							<div class="header-title">
								<a href="#/sach/Sách mới">
									<h2 class="title text-center">SÁCH MỚI</h2>
								</a>
							</div>
							<div class="view-all">
                			<a href="#/sach/Sách mới">
                    			Xem tất cả
                    		<i class="fa fa-arrow-circle-right"></i>
                			</a>
           				 </div>
						</div>
						
						<div id="recommended-item-carousel" class="carousel slide" data-ride="carousel" >
							<div class="slide-hol-new">
								<div class="viewport-new">
									<div class="carousel-inner">						
												<div class="item active">
												<div>	
													<div class="col-sm-4" ng-repeat="sach in sachmois.slice(0,3)">
														<div class="product-image-wrapper">
															<div class="single-products" >
																<div class="productinfo text-center">
																<a href="#/sach/Sách mới/{{sach.id}}"><img ng-src="{{sach.ImageSach}}" style="width: 135px; height: 165px;"/>
																<h4>{{sach.TenSach}}</h4></a>
																<p class="author">{{sach.TacGia}}</p>
																<h4 class="price">{{sach.Gia}}</h4>
																<p class="save">{{sach.TietKiem}}</p>
																<!-- <a class="btn btn-default add-to-cart" ng-click="addToCart(sach)"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</a> -->
															</div>
															<div class="{{$index==2 ? 'product-overlay-l' : 'product-overlay'}}">
																<div class="overlay-content">
																<a href="#/sach/Sách mới/{{sach.id}}"><h4>{{sach.TenSach}}</h4></a>
																<p class="author">{{sach.TacGia}}</p>
																<div class="des-view ng-binding">
																	<p>{{sach.GTSP | cut:true:300:' ...'}}</p>
																	<a class="xemthem" href="#/sach/Sách mới/{{sach.id}}">Xem Thêm</a>
																</div>
																<h4>{{sach.Gia}}</h4>
																<p class="save">{{sach.TietKiem}}</p>
																<a class="btn btn-default add-to-cart" ng-click="addToCart(sach)"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</a>
																<a href="#/dathang" ng-click="addToCart1(sach)" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Mua Ngay</a>
																</div>
															</div>
														</div>
													</div>
												</div>
												</div>
											</div>
											<div class="item">
												<div>	
													<div class="col-sm-4" ng-repeat="sach in sachmois.slice(3,6)">
														<div class="product-image-wrapper">
															<div class="single-products">
																<div class="productinfo text-center">
																<a href="#/sach/Sách mới/{{sach.id}}"><img ng-src="{{sach.ImageSach}}" style="width: 135px; height: 165px;"/>
																<h4>{{sach.TenSach}}</h4></a>
																<p class="author">{{sach.TacGia}}</p>
																<h4 class="price">{{sach.Gia}}</h4>
																<p class="save">{{sach.TietKiem}}</p>
																<!--<a class="btn btn-default add-to-cart" ng-click="addToCart(sach)"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</a>-->
															</div>
															<div class="{{$index==2 ? 'product-overlay-l' : 'product-overlay'}}">
																<div class="overlay-content">
																<a href="#/sach/Sách mới/{{sach.id}}"><h4>{{sach.TenSach}}</h4></a>
																<p class="author">{{sach.TacGia}}</p>
																<div class="des-view ng-binding">
																	<p>{{sach.GTSP | cut:true:300:' ...'}}</p>
																	<a class="xemthem" href="#/sach/Sách mới/{{sach.id}}">Xem Thêm</a>
																</div>
																<h4>{{sach.Gia}}</h4>
																<p class="save">{{sach.TietKiem}}</p>
																<a class="btn btn-default add-to-cart" ng-click="addToCart(sach)"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</a>
																<a href="#/dathang" ng-click="addToCart1(sach)" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Mua Ngay</a>
																</div>
															</div>
														</div>
													</div>
												</div>
												</div>
											</div>
											<div class="item">
												<div>	
													<div class="col-sm-4" ng-repeat="sach in sachmois.slice(6,9)">
														<div class="product-image-wrapper">
															<div class="single-products">
																<div class="productinfo text-center">
																<a href="#/sach/Sách mới/{{sach.id}}"><img ng-src="{{sach.ImageSach}}" style="width: 135px; height: 165px;"/>
																<h4>{{sach.TenSach}}</h4></a>
																<p class="author">{{sach.TacGia}}</p>
																<h4 class="price">{{sach.Gia}}</h4>
																<p class="save">{{sach.TietKiem}}</p>
																<!--<a class="btn btn-default add-to-cart" ng-click="addToCart(sach)"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</a>-->
															</div>
															<div class="{{$index==2 ? 'product-overlay-l' : 'product-overlay'}}">
																<div class="overlay-content">
																<a href="#/sach/Sách mới/{{sach.id}}"><h4>{{sach.TenSach}}</h4></a>
																<p class="author">{{sach.TacGia}}</p>
																<div class="des-view ng-binding">
																	<p>{{sach.GTSP | cut:true:300:' ...'}}</p>
																	<a class="xemthem" href="#/sach/Sách mới/{{sach.id}}">Xem Thêm</a>
																</div>
																<h4>{{sach.Gia}}</h4>
																<p class="save">{{sach.TietKiem}}</p>
																<a class="btn btn-default add-to-cart" ng-click="addToCart(sach)"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</a>
																<a href="#/dathang" ng-click="addToCart1(sach)" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Mua Ngay</a>
																</div>
															</div>
														</div>
													</div>
												</div>
												</div>
											</div>
											<div class="item">
												<div>	
													<div class="col-sm-4" ng-repeat="sach in sachmois.slice(9,12)">
														<div class="product-image-wrapper">
															<div class="single-products">
																<div class="productinfo text-center">
																<a href="#/sach/Sách mới/{{sach.id}}"><img ng-src="{{sach.ImageSach}}" style="width: 135px; height: 165px;"/>
																<h4>{{sach.TenSach}}</h4></a>
																<p class="author">{{sach.TacGia}}</p>
																<h4 class="price">{{sach.Gia}}</h4>
																<p class="save">{{sach.TietKiem}}</p>
																<!--<a class="btn btn-default add-to-cart" ng-click="addToCart(sach)"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</a>-->
															</div>
															<div class="{{$index==2 ? 'product-overlay-l' : 'product-overlay'}}">
																<div class="overlay-content">
																<a href="#/sach/Sách mới/{{sach.id}}"><h4>{{sach.TenSach}}</h4></a>
																<p class="author">{{sach.TacGia}}</p>
																<div class="des-view ng-binding">
																	<p>{{sach.GTSP | cut:true:300:' ...'}}</p>
																	<a class="xemthem" href="#/sach/Sách mới/{{sach.id}}">Xem Thêm</a>
																</div>
																<h4>{{sach.Gia}}</h4>
																<p class="save">{{sach.TietKiem}}</p>
																<a class="btn btn-default add-to-cart" ng-click="addToCart(sach)"><i class="fa fa-shopping-cart" ></i>Thêm vào giỏ hàng</a>
																<a href="#/dathang" ng-click="addToCart1(sach)" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Mua Ngay</a>
																</div>
															</div>
														</div>
													</div>
												</div>
												</div>
											</div>
								</div>
								</div>
							</div>
							
							 <a class="left recommended-item-control" href="#recommended-item-carousel" ng-non-bindable data-slide="prev">
								<i class="fa fa-angle-left"></i>
							  </a>
							  <a class="right recommended-item-control" href="#recommended-item-carousel" ng-non-bindable data-slide="next">
								<i class="fa fa-angle-right"></i>
							  </a>			
						</div>
					</div><!--recommend-->

					<div class="recommended_items"><!--recommended_items-->
						<div class="header">
							<div class="header-title">
								<a href="#/sach/Sách bán chạy">
									<h2 class="title text-center">SÁCH BÁN CHẠY</h2>
								</a>
							</div>
							<div class="view-all">
                			<a href="#/sach/Sách bán chạy">
                    			Xem tất cả
                    		<i class="fa fa-arrow-circle-right"></i>
                			</a>
           				 </div>
						</div>
						
						<div id="recommended-item-carousel2" class="carousel slide" data-ride="carousel" >
							<div class="slide-hol-new">
								<div class="viewport-new">
									<div class="carousel-inner">						
												<div class="item active">
												<div>	
													<div class="col-sm-4" ng-repeat="sach in sachbanchays.slice(0,3)">
														<div class="product-image-wrapper">
															<div class="single-products" >
																<div class="productinfo text-center">
																<a href="#/sach/Sách bán chạy/{{sach.id}}"><img ng-src="{{sach.ImageSach}}" style="width: 135px; height: 165px;"/>
																<h4>{{sach.TenSach}}</h4></a>
																<p class="author">{{sach.TacGia}}</p>
																<h4 class="price">{{sach.Gia}}</h4>
																<p class="save">{{sach.TietKiem}}</p>
																<!-- <a class="btn btn-default add-to-cart" ng-click="addToCart(sach)"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</a> -->
															</div>
															<div class="{{$index==2 ? 'product-overlay-l' : 'product-overlay'}}">
																<div class="overlay-content">
																<a href="#/sach/Sách bán chạy/{{sach.id}}"><h4>{{sach.TenSach}}</h4></a>
																<p class="author">{{sach.TacGia}}</p>
																<div class="des-view ng-binding">
																	<p>{{sach.GTSP | cut:true:300:' ...'}}</p>
																	<a class="xemthem" href="#/sach/Sách bán chạy/{{sach.id}}">Xem Thêm</a>
																</div>
																<h4>{{sach.Gia}}</h4>
																<p class="save">{{sach.TietKiem}}</p>
																<a class="btn btn-default add-to-cart" ng-click="addToCart(sach)"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</a>
																<a href="#/dathang" ng-click="addToCart1(sach)" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Mua Ngay</a>
																</div>
															</div>
														</div>
													</div>
												</div>
												</div>
											</div>
											<div class="item">
												<div>	
													<div class="col-sm-4" ng-repeat="sach in sachbanchays.slice(3,6)">
														<div class="product-image-wrapper">
															<div class="single-products">
																<div class="productinfo text-center">
																<a href="#/sach/Sách bán chạy/{{sach.id}}"><img ng-src="{{sach.ImageSach}}" style="width: 135px; height: 165px;"/>
																<h4>{{sach.TenSach}}</h4></a>
																<p class="author">{{sach.TacGia}}</p>
																<h4 class="price">{{sach.Gia}}</h4>
																<p class="save">{{sach.TietKiem}}</p>
																<!--<a class="btn btn-default add-to-cart" ng-click="addToCart(sach)"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</a>-->
															</div>
															<div class="{{$index==2 ? 'product-overlay-l' : 'product-overlay'}}">
																<div class="overlay-content">
																<a href="#/sach/Sách bán chạy/{{sach.id}}"><h4>{{sach.TenSach}}</h4></a>
																<p class="author">{{sach.TacGia}}</p>
																<div class="des-view ng-binding">
																	<p>{{sach.GTSP | cut:true:300:' ...'}}</p>
																	<a class="xemthem" href="#/sach/Sách bán chạy/{{sach.id}}">Xem Thêm</a>
																</div>
																<h4>{{sach.Gia}}</h4>
																<p class="save">{{sach.TietKiem}}</p>
																<a class="btn btn-default add-to-cart" ng-click="addToCart(sach)"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</a>
																<a href="#/dathang" ng-click="addToCart1(sach)" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Mua Ngay</a>
																</div>
															</div>
														</div>
													</div>
												</div>
												</div>
											</div>
											<div class="item">
												<div>	
													<div class="col-sm-4" ng-repeat="sach in sachbanchays.slice(6,9)">
														<div class="product-image-wrapper">
															<div class="single-products">
																<div class="productinfo text-center">
																<a href="#/sach/Sách bán chạy/{{sach.id}}"><img ng-src="{{sach.ImageSach}}" style="width: 135px; height: 165px;"/>
																<h4>{{sach.TenSach}}</h4></a>
																<p class="author">{{sach.TacGia}}</p>
																<h4 class="price">{{sach.Gia}}</h4>
																<p class="save">{{sach.TietKiem}}</p>
																<!--<a class="btn btn-default add-to-cart" ng-click="addToCart(sach)"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</a>-->
															</div>
															<div class="{{$index==2 ? 'product-overlay-l' : 'product-overlay'}}">
																<div class="overlay-content">
																<a href="#/sach/Sách bán chạy/{{sach.id}}"><h4>{{sach.TenSach}}</h4></a>
																<p class="author">{{sach.TacGia}}</p>
																<div class="des-view ng-binding">
																	<p>{{sach.GTSP | cut:true:300:' ...'}}</p>
																	<a class="xemthem" href="#/sach/Sách bán chạy/{{sach.id}}">Xem Thêm</a>
																</div>
																<h4>{{sach.Gia}}</h4>
																<p class="save">{{sach.TietKiem}}</p>
																<a class="btn btn-default add-to-cart" ng-click="addToCart(sach)"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</a>
																<a href="#/dathang" ng-click="addToCart1(sach)" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Mua Ngay</a>
																</div>
															</div>
														</div>
													</div>
												</div>
												</div>
											</div>
											<div class="item">
												<div>	
													<div class="col-sm-4" ng-repeat="sach in sachbanchays.slice(9,12)">
														<div class="product-image-wrapper">
															<div class="single-products">
																<div class="productinfo text-center">
																<a href="#/sach/Sách bán chạy/{{sach.id}}"><img ng-src="{{sach.ImageSach}}" style="width: 135px; height: 165px;"/>
																<h4>{{sach.TenSach}}</h4></a>
																<p class="author">{{sach.TacGia}}</p>
																<h4 class="price">{{sach.Gia}}</h4>
																<p class="save">{{sach.TietKiem}}</p>
																<!--<a class="btn btn-default add-to-cart" ng-click="addToCart(sach)"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</a>-->
															</div>
															<div class="{{$index==2 ? 'product-overlay-l' : 'product-overlay'}}">
																<div class="overlay-content">
																<a href="#/sach/Sách bán chạy/{{sach.id}}"><h4>{{sach.TenSach}}</h4></a>
																<p class="author">{{sach.TacGia}}</p>
																<div class="des-view ng-binding">
																	<p>{{sach.GTSP | cut:true:300:' ...'}}</p>
																	<a class="xemthem" href="#/sach/Sách bán chạy/{{sach.id}}">Xem Thêm</a>
																</div>
																<h4>{{sach.Gia}}</h4>
																<p class="save">{{sach.TietKiem}}</p>
																<a class="btn btn-default add-to-cart" ng-click="addToCart(sach)"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</a>
																<a href="#/dathang" ng-click="addToCart1(sach)" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Mua Ngay</a>
																</div>
															</div>
														</div>
													</div>
												</div>
												</div>
											</div>
								</div>
								</div>
							</div>
							
							 <a class="left recommended-item-control" href="#recommended-item-carousel2" ng-non-bindable data-slide="prev">
								<i class="fa fa-angle-left"></i>
							  </a>
							  <a class="right recommended-item-control" href="#recommended-item-carousel2" ng-non-bindable data-slide="next">
								<i class="fa fa-angle-right"></i>
							  </a>			
						</div>
					</div><!---->

					
					<div class="recommended_items"><!--recommended_items-->
						<div class="header">
							<div class="header-title">
								<a href="#/sach/Sắp phát hành">
									<h2 class="title text-center">SÁCH SẮP PHÁT HÀNH</h2>
								</a>
							</div>
							<div class="view-all">
                			<a href="#/sach/Sắp phát hành">
                    			Xem tất cả
                    		<i class="fa fa-arrow-circle-right"></i>
                			</a>
           				 </div>
						</div>
						
						<div id="recommended-item-carousel1" class="carousel slide" data-ride="carousel" >
							<div class="slide-hol-new">
								<div class="viewport-new">
									<div class="carousel-inner">						
												<div class="item active">
												<div>	
													<div class="col-sm-4" ng-repeat="sach in sachphathanhs.slice(0,3)">
														<div class="product-image-wrapper">
															<div class="single-products" >
																<div class="productinfo text-center">
																	<!-- <span class="comming-soon">
																	</span> -->
																	
																<a href="#/sach/Sắp phát hành/{{sach.id}}"><img ng-src="{{sach.ImageSach}}" style="width: 135px; height: 165px;"/>
																<h4>{{sach.TenSach}}</h4></a>
																<p class="author">{{sach.TacGia}}</p>
																<h4 class="price">{{sach.Gia}}</h4>
																<p class="save">{{sach.TietKiem}}</p>
																<!-- <a class="btn btn-default add-to-cart" ng-click="addToCart(sach)"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</a> -->
															</div>
															<div class="{{$index==2 ? 'product-overlay-l' : 'product-overlay'}}">
																<div class="overlay-content">
																<a href="#/sach/Sắp phát hành/{{sach.id}}"><h4>{{sach.TenSach}}</h4></a>
																<p class="author">{{sach.TacGia}}</p>
																<div class="des-view ng-binding">
																	<p>{{sach.GTSP | cut:true:300:' ...'}}</p>
																	<a class="xemthem" href="#/sach/Sắp phát hành/{{sach.id}}">Xem Thêm</a>
																</div>
																<h4>{{sach.Gia}}</h4>
																<p class="save">{{sach.TietKiem}}</p>
																<a class="btn btn-default add-to-cart" ng-click="addToCart(sach)"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</a>
																<a href="#/dathang" ng-click="addToCart1(sach)" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Mua Ngay</a>
																</div>
															</div>
														</div>
													</div>
												</div>
												</div>
											</div>
											<div class="item">
												<div>	
													<div class="col-sm-4" ng-repeat="sach in sachphathanhs.slice(3,6)">
														<div class="product-image-wrapper">
															<div class="single-products">
																<div class="productinfo text-center">
																<a href="#/sach/Sắp phát hành/{{sach.id}}"><img ng-src="{{sach.ImageSach}}" style="width: 135px; height: 165px;"/>
																<h4>{{sach.TenSach}}</h4></a>
																<p class="author">{{sach.TacGia}}</p>
																<h4 class="price">{{sach.Gia}}</h4>
																<p class="save">{{sach.TietKiem}}</p>
																<!--<a class="btn btn-default add-to-cart" ng-click="addToCart(sach)"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</a>-->
															</div>
															<div class="{{$index==2 ? 'product-overlay-l' : 'product-overlay'}}">
																<div class="overlay-content">
																<a href="#/sach/Sắp phát hành/{{sach.id}}"><h4>{{sach.TenSach}}</h4></a>
																<p class="author">{{sach.TacGia}}</p>
																<div class="des-view ng-binding">
																	<p>{{sach.GTSP | cut:true:300:' ...'}}</p>
																	<a class="xemthem" href="#/sach/Sắp phát hành/{{sach.id}}">Xem Thêm</a>
																</div>
																<h4>{{sach.Gia}}</h4>
																<p class="save">{{sach.TietKiem}}</p>
																<a class="btn btn-default add-to-cart" ng-click="addToCart(sach)"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</a>
																<a href="#/dathang" ng-click="addToCart1(sach)" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Mua Ngay</a>
																</div>
															</div>
														</div>
													</div>
												</div>
												</div>
											</div>
											<div class="item">
												<div>	
													<div class="col-sm-4" ng-repeat="sach in sachphathanhs.slice(6,9)">
														<div class="product-image-wrapper">
															<div class="single-products">
																<div class="productinfo text-center">
																<a href="#/sach/Sắp phát hành/{{sach.id}}"><img ng-src="{{sach.ImageSach}}" style="width: 135px; height: 165px;"/>
																<h4>{{sach.TenSach}}</h4></a>
																<p class="author">{{sach.TacGia}}</p>
																<h4 class="price">{{sach.Gia}}</h4>
																<p class="save">{{sach.TietKiem}}</p>
																<!--<a class="btn btn-default add-to-cart" ng-click="addToCart(sach)"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</a>-->
															</div>
															<div class="{{$index==2? 'product-overlay-l' : 'product-overlay'}}">
																<div class="overlay-content">
																<a href="#/sach/Sắp phát hành/{{sach.id}}"><h4>{{sach.TenSach}}</h4></a>
																<p class="author">{{sach.TacGia}}</p>
																<div class="des-view ng-binding">
																	<p>{{sach.GTSP | cut:true:300:' ...'}}</p>
																	<a class="xemthem" href="#/sach/Sắp phát hành/{{sach.id}}">Xem Thêm</a>
																</div>
																<h4>{{sach.Gia}}</h4>
																<p class="save">{{sach.TietKiem}}</p>
																<a class="btn btn-default add-to-cart" ng-click="addToCart(sach)"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</a>
																<a href="#/dathang" ng-click="addToCart1(sach)" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Mua Ngay</a>
																</div>
															</div>
														</div>
													</div>
												</div>
												</div>
											</div>
											<div class="item">
												<div>	
													<div class="col-sm-4" ng-repeat="sach in sachphathanhs.slice(9,12)">
														<div class="product-image-wrapper">
															<div class="single-products">
																<div class="productinfo text-center">
																<a href="#/sach/Sắp phát hành/{{sach.id}}"><img ng-src="{{sach.ImageSach}}" style="width: 135px; height: 165px;"/>
																<h4>{{sach.TenSach}}</h4></a>
																<p class="author">{{sach.TacGia}}</p>
																<h4 class="price">{{sach.Gia}}</h4>
																<p class="save">{{sach.TietKiem}}</p>
																<!--<a class="btn btn-default add-to-cart" ng-click="addToCart(sach)"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</a>-->
															</div>
															<div class="{{$index==2 ? 'product-overlay-l' : 'product-overlay'}}">
																<div class="overlay-content">
																<a href="#/sach/Sắp phát hành/{{sach.id}}"><h4>{{sach.TenSach}}</h4></a>
																<p class="author">{{sach.TacGia}}</p>
																<div class="des-view ng-binding">
																	<p>{{sach.GTSP | cut:true:300:' ...'}}</p>
																	<a class="xemthem" href="#/sach/Sắp phát hành/{{sach.id}}">Xem Thêm</a>
																</div>
																<h4>{{sach.Gia}}</h4>
																<p class="save">{{sach.TietKiem}}</p>
																<a class="btn btn-default add-to-cart" ng-click="addToCart(sach)"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</a>
																<a href="#/dathang" ng-click="addToCart1(sach)" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Mua Ngay</a>
																</div>
															</div>
														</div>
													</div>
												</div>
												</div>
											</div>
								</div>
								</div>
							</div>
							
							 <a class="left recommended-item-control" href="#recommended-item-carousel1" ng-non-bindable data-slide="prev">
								<i class="fa fa-angle-left"></i>
							  </a>
							  <a class="right recommended-item-control" href="#recommended-item-carousel1" ng-non-bindable data-slide="next">
								<i class="fa fa-angle-right"></i>
							  </a>			
						</div>
					</div><!--/recommended_items-->

					<div class="category-tab"><!--category-tab-->
						<div class="header">
							<div class="header-title">
								<a href="#">
									<h2 class="title text-center">Danh mục sách nổi bật</h2>
								</a>
							</div>
						</div>
						<div class="col-sm-12">
							<ul class="nav nav-tabs">
								<li class="active"><a href="#vanhoc1" data-toggle="tab">Văn học</a></li>
								<li><a href="#khoahoc1" data-toggle="tab">Khoa học</a></li>
								<li><a href="#suckhoe" data-toggle="tab">Sức khỏe</a></li>
								<li><a href="#knsd" data-toggle="tab">Kỹ Năng - Sống đẹp</a></li>
								<li><a href="#ngoaivan" data-toggle="tab">Ngoại Văn</a></li>
							</ul>
						</div>
						<div class="tab-content">
							<div class="tab-pane fade in active" id="vanhoc1" ng-controller="vanhocCtrl">
								<div class="col-sm-3" ng-repeat="sach in (sachmois1|filter:{LoaiSach:'Tác phẩm văn học'}).slice(3,7)">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<a href="#/sach/{{sach.LoaiSach}}/{{sach.id}}"><img ng-src="{{sach.ImageSach}}" style="width: 135px; height: 165px;"/>
																<h4>{{sach.TenSach}}</h4></a>
																<p class="author">{{sach.TacGia}}</p>
																<h4 class="price">{{sach.Gia}}</h4>
																<p class="save">{{sach.TietKiem}}</p>
																<a class="btn btn-default add-to-cart" ng-click="addToCart(sach)"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</a>
											</div>
											
										</div>
									</div>
								</div>
							</div>
							
							<div class="tab-pane fade" id="khoahoc1" >
								<div class="col-sm-3" ng-repeat="sach in (sachmois1|filter:{LoaiSach:'Khoa học-Công Nghệ'}).slice(3,7)">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<a href="#/sach/{{sach.LoaiSach}}/{{sach.id}}"><img ng-src="{{sach.ImageSach}}" style="width: 135px; height: 165px;"/>
																<h4>{{sach.TenSach}}</h4></a>
																<p class="author">{{sach.TacGia}}</p>
																<h4 class="price">{{sach.Gia}}</h4>
																<p class="save">{{sach.TietKiem}}</p>
																<a class="btn btn-default add-to-cart" ng-click="addToCart(sach)"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</a>
											</div>
											
										</div>
									</div>
								</div>
								
								
							</div>
							
							<div class="tab-pane fade" id="suckhoe" >
								<div class="col-sm-3" ng-repeat="sach in (sachmois1|filter:{LoaiSach:'Sống đẹp'}).slice(10,14)">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<a href="#/sach/{{sach.LoaiSach}}/{{sach.id}}"><img ng-src="{{sach.ImageSach}}" style="width: 135px; height: 165px;"/>
																<h4>{{sach.TenSach}}</h4></a>
																<p class="author">{{sach.TacGia}}</p>
																<h4 class="price">{{sach.Gia}}</h4>
																<p class="save">{{sach.TietKiem}}</p>
																<a class="btn btn-default add-to-cart" ng-click="addToCart(sach)"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</a>
											</div>
											
										</div>
									</div>
								</div>
								
							</div>
							
							<div class="tab-pane fade" id="knsd" >
								<div class="col-sm-3" ng-repeat="sach in (sachmois1|filter:{LoaiSach:'Sống đẹp'}).slice(15,19)">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<a href="#/sach/{{sach.LoaiSach}}/{{sach.id}}"><img ng-src="{{sach.ImageSach}}" style="width: 135px; height: 165px;"/>
																<h4>{{sach.TenSach}}</h4></a>
																<p class="author">{{sach.TacGia}}</p>
																<h4 class="price">{{sach.Gia}}</h4>
																<p class="save">{{sach.TietKiem}}</p>
																<a class="btn btn-default add-to-cart" ng-click="addToCart(sach)"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</a>
											</div>
											
										</div>
									</div>
								</div>
							</div>
							
							<div class="tab-pane fade" id="ngoaivan" >
								<div class="col-sm-3" ng-repeat="sach in (sachmois1|filter:{LoaiSach:'Văn học nước ngoài'}).slice(10,14)">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<a href="#/sach/{{sach.LoaiSach}}/{{sach.id}}"><img ng-src="{{sach.ImageSach}}" style="width: 135px; height: 165px;"/>
																<h4>{{sach.TenSach}}</h4></a>
																<p class="author">{{sach.TacGia}}</p>
																<h4 class="price">{{sach.Gia}}</h4>
																<p class="save">{{sach.TietKiem}}</p>
																<a class="btn btn-default add-to-cart" ng-click="addToCart(sach)"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</a>
											</div>
											
										</div>
									</div>
								</div>
							</div>
						</div>
					</div><!--/category-tab-->

					<div class="speauthor box-template">
        <div class="header">
            <div class="header-title">
                <a><h4>Tác giả tiêu biểu: <span style="color:black;">Ayn Rand</span> </h4></a>
            </div>
        </div>
        <div class="content row">
            <div class="l col-sm-3">
                <a href="/tac-gia/ayn-rand-auth459/p1">
    <img class="slimmage" src="Res/Images/Author/51d820a7-1e80-4363-82b1-10fa4637de2e.jpg?w=170&amp;h=250&amp;scale=canvas&amp;Cache=Always&amp;quality=90&amp;slimmage=true">
                </a>
                
            </div>
            <div class="r col-sm-9">
                <div class="link-a">
                    <p style="text-align:justify"><span style="font-size:14px"><strong>Ayn Rand</strong> (2 tháng 2 năm 1905 – 6 tháng 3 năm 1982) là một nhà tiểu thuyết và lý luận quốc tịch Mỹ sinh tại Nga. Bà nổi tiếng vì đã phát triển học thuyết Chủ nghĩa khách quan và vì đã viết một số tác phẩm như We the Living (Chúng ta những kẻ sống), <a href="http://bookbuy.vn/sach/suoi-nguon-tai-ban-2014--p9516.html">The Fountainhead (Suối nguồn)</a>, Atlas Shrugged (Người khổng lồ nghiêng vai), For the new Intellectual (Vì giới tri thức mới) và <a href="http://bookbuy.vn/sach/vhnn-tieu-thuyet">tiểu thuyết</a> ngắn Anthem. Là người gây ảnh hưởng rộng lớn tới nước Mỹ hậu chiến tranh thế giới thứ 2, các tác phẩm của <strong>Ayn Rand </strong>đã tạo nên sự mến mộ nhiệt thành cũng như phê phán nghiêm khắc.</span></p>

                </div>
            </div>
        </div>
    </div>
				</div>
				</div>
		</div>
	</section>
			