<section id="advertisement">
		<div class="container">
			<img src="Res/Images/Banner/sachbanchay.png" alt="" />
		</div>
	</section>
<section class="container">
		<div class="container">
			<div class="row">
				<div class="col-sm-3" >
					<div class="left-sidebar">
						<h2>DANH MỤC SẢN PHẨM</h2>
						<div class="category-products" id="accordian"><!--category-productsr-->
							<div class="panel panel-default title-x">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">Truyện tranh</a></h4>
								</div>
							</div>
							<div class="panel panel-default title-x">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="#/sach/Tác phẩm văn học">
											<span class="badge pull-right"><i class="fa fa-plus"></i></span>
											Văn học
										</a>
									</h4>
								</div>

								<div id="vanhoc" class="panel-collapse collapse">
									<div class="panel-body">
										<ul>
											<li><a href="#/sach/Văn học Việt Nam"><span class="badge pull-right"><i class="fa fa-angle-right"></i></span>Văn học Việt Nam </a>
													<ul>
													<li><a href="#">Truyện Ngắn</a></li>
													<li><a href="#/sach/Truyện Dài">Tiểu thuyết, truyện dài</a></li>
													<li><a href="#/sach/Thơ Ca">Thơ ca</a></li>
													<li><a href="#/sach/Tác phẩm kinh điển">Tác phẩm kinh điển</a></li>
													<li><a href="#/sach/Tự truyện, Tiểu sử, Hồi ký, Nhân vật">Tự truyện, tiểu sử, hồi ký</a></li>
												</ul>
											</li>
											<li><a href="#/sach/Văn học nước ngoài">
												<span class="badge pull-right"><i class="fa fa-angle-right"></i></span>
											Văn học Nước Ngoài</a>
												<ul>
													<li><a href="#">Truyện ngắn</a></li>
													<li><a href="#">Tiểu thuyết, truyện dài</a></li>
													<li><a href="#">Tản văn-Tạp văn</a></li>
													<li><a href="#">Kinh dị-Giả tưởng-Trinh thám</a></li>
													<li><a href="#">Phê bình văn học</a></li>
												</ul>
											</li>
										</ul>
									</div>
								</div>
							</div>

							<div class="panel panel-default title-x">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="#/sach/Ngoại Ngữ">
											<span class="badge pull-right"><i class="fa fa-plus"></i></span>
											Ngoại ngữ
										</a>
									</h4>
								</div>
								<div id="ngoaingu" class="panel-collapse collapse">
									<div class="panel-body">
										<ul>
											<li><a href="#/sach/Tiếng Anh">Tiếng Anh</a></li>
											<li><a href="#/sach/Tiếng Pháp">Tiếng Pháp</a></li>
											<li><a href="#/sach/Tiếng Hoa">Tiếng Hoa</a></li>
											<li><a href="#/sach/Tiếng Nhật">Tiếng Nhật</a></li>
											<li><a href="#/sach/Ngoại ngữ khác">Ngoại ngữ khác</a></li>
											
										</ul>
									</div>
								</div>
							</div>
							
							<div class="panel panel-default title-x">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="#/sach/Kỹ năng sống">
											<span class="badge pull-right"><i class="fa fa-plus"></i></span>
											Kỹ năng sống
										</a>
									</h4>
								</div>
								<div id="kynangsong" class="panel-collapse collapse">
									<div class="panel-body">
										<ul>
											<li><a href="#/sach/Sống đẹp">Sống đẹp</a></li>
											<li><a href="#/sach/Kỹ Năng Mềm">Kỹ năng mềm</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="panel panel-default title-x">
								<div class="panel-heading">
								<h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordian" href="#/sach/Sách Teen">
											<span class="badge pull-right"><i class="fa fa-plus"></i></span>
											Sách Teen
										</a></h4>
								</div>
								<div id="sachteen" class="panel-collapse collapse">
									<div class="panel-body">
										<ul>
											<li><a href="#/sach/Sức khỏe-Giới tính">Sức khỏe-Giới tính</a></li>
											<li><a href="#/sach/Văn học Tuổi Teen">Văn học Teen</a></li>
											<li><a href="#">Tâm lý tuổi teen</a></li>
											<li><a href="#">Du học-Hướng nghiệp</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="panel panel-default title-x">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#/sach/Tử vi-Chiêm tinh">Tử Vi-Chiêm Tinh</a></h4>
								</div>
							</div>
							<div class="panel panel-default title-x">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#/sach/Phong Thủy">Phong Thủy</a></h4>
								</div>
							</div>
							
							<div class="panel panel-default title-x">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#/sach/Bách khoa-Tri thức">Bách khoa tri thức</a></h4>
								</div>
							</div>
							<div class="panel panel-default title-x">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="#/sach/Danh nhân - Văn hóa - Du lịch">
											<span class="badge pull-right"><i class="fa fa-plus"></i></span>
											Danh nhân-Văn hóa-Du lịch
										</a>
									</h4>
								</div>
								<div id="danhnhan" class="panel-collapse collapse">
									<div class="panel-body">
										<ul>
											<li><a href="#">Du lịch</a></li>
											<li><a href="#">Danh nhân</a></li>
											<li><a href="#">Văn hóa-Xã hội</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="panel panel-default title-x">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="#/sach/Khoa học-Công Nghệ">
											<span class="badge pull-right"><i class="fa fa-plus"></i></span>
											Khoa học-Công nghệ
										</a>
									</h4>
								</div>
								<div id="khoahoc" class="panel-collapse collapse">
									<div class="panel-body">
										<ul>
											<li><a href="#">Khoa học</a></li>
											<li><a href="#">Công nghệ</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div><!--/category-products-->
					
						<div class="brands_products"><!--brands_products-->
							<h2>Theo chủ đề</h2>
							<div class="brands-name">
								<ul class="nav nav-pills nav-stacked">
									<li><a href="#"> <span class="pull-right">(50)</span>Blockchain & Tiền ảo</a></li>
									<li><a href="#"> <span class="pull-right">(56)</span>Đam mê xê dịch</a></li>
									<li><a href="#"> <span class="pull-right">(27)</span>Dạy con làm giàu</a></li>
									<li><a href="#"> <span class="pull-right">(32)</span>Hạt giống tâm hồn</a></li>
									<li><a href="#"> <span class="pull-right">(5)</span>Light Novel</a></li>
									<li><a href="#"> <span class="pull-right">(9)</span>Giải thưởng sách hay</a></li>
									<li class="show-more"><a href="#" style="color: orange; font-weight: bold;">Xem thêm
										<i class="fa fa-angle-down"></i>
									</a></li>
								</ul>
							</div>
						</div><!--/brands_products-->
						
						<div class="author"><!--author-->
							<h2>Tác giả tiêu biểu</h2>
							<div class="author-name">
								<ul class="nav nav-pills nav-stacked">
									<li><a href="#"> <span class="pull-right">(1)</span>Ayn Rand</a></li>
									<li><a href="#"> <span class="pull-right">(146)</span>Nguyễn Nhật Ánh</a></li>
									<li><a href="#"> <span class="pull-right">(12)</span>Nguyễn Đông Thức</a></li>
									<li><a href="#"> <span class="pull-right">(6)</span>Phạm Lữ Ân</a></li>
									<li><a href="#"> <span class="pull-right">(17)</span>Nguyễn Thiên Ngân</a></li>
									<li><a href="#"> <span class="pull-right">(2)</span>Hạ Chi</a></li>
								</ul>
							</div>
						</div><!--/author-->

						<div class="price-range"><!--price-range-->
							<h2>Theo Giá</h2>
							<div class="price-name">
								<ul class="nav nav-pills nav-stacked">
									<li><a href="#">Giá nhỏ hơn 50.000đ</a></li>
									<li><a href="#">Giá từ 50.000 - 100.000đ</a></li>
									<li><a href="#">Giá từ 100.000 - 200.000đ</a></li>
									<li><a href="#">Giá từ 200.000 - 300.000đ</a></li>
									<li><a href="#">Giá từ 300.000 - 400.000đ</a></li>
									<li><a href="#">Giá từ 400.000 - 500.000đ</a></li>
									<li><a href="#">Giá từ 500.000 - 1.000.000đ</a></li>
									<li><a href="#">Giá lớn hơn 1.000.000đ</a></li>
								</ul>
							</div>
						</div><!--/price-range-->
						
						<!-- <div class="shipping text-center">
							<img src="images/home/shipping.jpg" alt="" />
						</div> -->
					
					</div>
				</div>	
<div class="col-sm-9 padding-right">
					<div class="features_items" ><!--features_items-->
						<h2 class="title text-center">Sách Bán Chạy</h2>
						<div class="col-sm-4" ng-repeat="sach in filteredSachs">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<a href="#/Sách bán chạy/{{sach.id}}"><img ng-src="{{sach.ImageSach}}" style="width: 135px; height: 165px;"/>
																<h4>{{sach.TenSach}}</h4></a>
																<p class="author">{{sach.TacGia}}</p>
																<h4 class="price">{{sach.Gia}}</h4>
																<p class="save">{{sach.TietKiem}}</p>
									</div>
									<div class="{{($index+1)%3==0 ? 'product-overlay-l' : 'product-overlay'}}">
										<div class="overlay-content">
											<a href="#/sachbanchay/{{sach.id}}"><h4>{{sach.TenSach}}</h4></a>
											<p class="author">{{sach.TacGia}}</p>
											<div class="des-view ng-binding">
												<p>{{sach.GTSP | cut:true:300:' ...'}}</p>
												<a class="xemthem" href="#/sachbanchay/{{sach.id}}">Xem Thêm</a>
											</div>
											<h4>{{sach.Gia}}</h4>
											<p class="save">{{sach.TietKiem}}</p>
											<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</a>
											<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Mua Ngay</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					<div class="pagination">

						<pagination
					      ng-model="currentPage"
					      total-items="sachbanchays.length"
					      max-size="10"  
					      boundary-links="true"
					      class="pagination-sm"
						rotate="false"
					      items-per-page="itemsPerPage"
					      >
					    </pagination>
					</div>
					</div><!--features_items-->
				</div>
				</div>
		</div>
	</section>